src/conf/xml-resources/web-service-references/UsersService_2/wsdl/localhost_8080/CrunchWebService/UsersService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaces.humber.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.humber.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.humber.com/" schemaLocation="http://localhost:8080/CrunchWebService/UsersService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="addMembership">
<part name="parameters" element="tns:addMembership"/>
</message>
<message name="addMembershipResponse">
<part name="parameters" element="tns:addMembershipResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<portType name="IUsers">
<operation name="deleteUser">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.humber.com/IUsers/deleteUserRequest" message="tns:deleteUser"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.humber.com/IUsers/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="addMembership">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.humber.com/IUsers/addMembershipRequest" message="tns:addMembership"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.humber.com/IUsers/addMembershipResponse" message="tns:addMembershipResponse"/>
</operation>
<operation name="getAllUsers">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.humber.com/IUsers/getAllUsersRequest" message="tns:getAllUsers"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.humber.com/IUsers/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
</portType>
</definitions>