src/conf/xml-resources/web-service-references/BookingService_1/wsdl/localhost_8080/CrunchWebService/BookingService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://interfaces.humber.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaces.humber.com/">

<xs:element name="createBooking" type="tns:createBooking"/>

<xs:element name="createBookingResponse" type="tns:createBookingResponse"/>

<xs:element name="deleteBooking" type="tns:deleteBooking"/>

<xs:element name="deleteBookingResponse" type="tns:deleteBookingResponse"/>

<xs:element name="getUserBookings" type="tns:getUserBookings"/>

<xs:element name="getUserBookingsResponse" type="tns:getUserBookingsResponse"/>

<xs:complexType name="getUserBookings">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserBookingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookingClass" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookingClass">
<xs:sequence>
<xs:element name="class_name" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="scheduledDate" type="xs:string" minOccurs="0"/>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBookingResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBookingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>