src/conf/xml-resources/web-service-references/BookingService/wsdl/localhost_8899/project/BookingService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaces.humber.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.humber.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.humber.com/" schemaLocation="http://localhost:8899/project/BookingService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteBooking">
<part name="parameters" element="tns:deleteBooking"/>
</message>
<message name="deleteBookingResponse">
<part name="parameters" element="tns:deleteBookingResponse"/>
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<message name="getUserBookings">
<part name="parameters" element="tns:getUserBookings"/>
</message>
<message name="getUserBookingsResponse">
<part name="parameters" element="tns:getUserBookingsResponse"/>
</message>
<portType name="IBooking">
<operation name="deleteBooking">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.humber.com/IBooking/deleteBookingRequest" message="tns:deleteBooking"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.humber.com/IBooking/deleteBookingResponse" message="tns:deleteBookingResponse"/>
</operation>
<operation name="createBooking">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.humber.com/IBooking/createBookingRequest" message="tns:createBooking"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.humber.com/IBooking/createBookingResponse" message="tns:createBookingResponse"/>
</operation>
<operation name="getUserBookings">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.humber.com/IBooking/getUserBookingsRequest" message="tns:getUserBookings"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.humber.com/IBooking/getUserBookingsResponse" message="tns:getUserBookingsResponse"/>
</operation>
</portType>
</definitions>