src/conf/xml-resources/web-service-references/LoginService/wsdl/localhost_8899/project/LoginService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaces.humber.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.humber.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.humber.com/" schemaLocation="http://localhost:8899/project/LoginService?xsd=1"/>
</xsd:schema>
</types>
<message name="authenticate">
<part name="parameters" element="tns:authenticate"/>
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<portType name="ILogin">
<operation name="authenticate">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.humber.com/ILogin/authenticateRequest" message="tns:authenticate"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.humber.com/ILogin/authenticateResponse" message="tns:authenticateResponse"/>
</operation>
<operation name="logout">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.humber.com/ILogin/logoutRequest" message="tns:logout"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.humber.com/ILogin/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="registerUser">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.humber.com/ILogin/registerUserRequest" message="tns:registerUser"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.humber.com/ILogin/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
</portType>
</definitions>